/LeierSurvival/Library
/LeierSurvival/*.vsconfig
/LeierSurvival/*.sln
/LeierSurvival/Logs
/LeierSurvival/ProjectSettings
/LeierSurvival/Temp
/LeierSurvival/UserSettings
/LeierSurvival/.vs/LeierSurvival/v16/*.suo
/LeierSurvival/*.csproj
/LeierSurvival/obj/Debug/*.cache
